.menu {
  position: relative;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu.open {
  transform: translateY(0);
  opacity: 1;
}

.menu .toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  transition: 0.5s;
}

.menu .toggle.active {
  transform: rotate(180deg);
}

.menu li {
  position: absolute;
  list-style: none;
  transform: translate(-30%, -50%);
  transition: transform 0.5s ease;
  color: transparent;
}

.menu.open li {
  color: rgb(36, 35, 35);
  transform: translate(-15%, -60%) rotate(calc(var(--i) * 30deg))
    translate(80px) rotate(calc(var(--i) * -30deg));
}

.menu li:hover {
  transform: translate(-15%, -60%) rotate(calc(var(--i) * 30deg))
    translate(80px) rotate(calc(var(--i) * -30deg)) scale(1.5);
  color: rgb(36, 35, 35);
}
